@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    height: 100vh;
    margin: 0;
    background-color: #1b0e06;
    color: #ffd228;
    overflow: hidden;
}

* {
    font-family: 'IBM Plex Mono', 'Noto Color Emoji', sans-serif;
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

a {
    color: #ff6b10;
}

a:hover {
    color: #ffa771;
}

a:active {
    color: #d36e30;
}

a:focus {
    color: #d36e30;
}



.ClassesTypeSelector {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ClassesTypeSelector .material-icons {
    font-size: 18px;

}

.ClassesTypeSelector .material-icons {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    outline: inherit;
    left: 0;
}

.ClassesTypeSelector {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.ClassesTypeSelector .SelectChange {
    display: flex;
    flex-direction: column;
}

.ClassesTypeSelector .SelectItems {
    margin-left: 5px;
}


.modal-dialog.HelpPopup {
    max-width: 700px;
    hyphens: auto;
}

.modal-content.HelpPopup {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.9);

}

.modal-header.HelpPopup {
    border-bottom: 1px solid #543e0e;
}

.modal-header.HelpPopup>:first-child {
    margin-right: 10px;
    position: relative;
}


.modal-header.HelpPopup> :first-child::before {
    border-radius: 15%;
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 7px);
    height: calc(100% - 5px);
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    top: 50%;
    left: 48.8%;
    transform: translate(-50%, -50%);
}

.modal-header.HelpPopup>:first-child:hover::before {
    opacity: 1;
}

#SteamSSLink {
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
        conic-gradient(from 278deg, #958ac6 0%, #342c5d 23%, #958ac6 56%, rgba(60, 51, 101, 1) 100%);
    border-radius: 15%;
    padding: 3px;
    box-sizing: border-box;
    position: relative;


}

.modal-body>p.smalltext {
    font-size: 0.8em;
}


.mecha_header {
    display: block;
    width: 100%;
    margin: 25px 0 10px 0;
}

.mecha_header>*>a {
    color: #ffd228;
    text-decoration: none;
}

.mecha_header>*>a>*>* {
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
    font-variant: small-caps;
}

.mecha_header>*>.input-group {
    max-width: 1000px;
    margin-left: auto;
}


.input-group-text.material-icons {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.98);
    color: #ffd228;
    border-right: none;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.98);
    border-left: none;
}

.form-control:focus {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.98);
    border-left: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 210, 40, 0.5);

}

.form-control::placeholder {
    color: rgba(195, 195, 195, 0.5);
    ;
}

.form-control:focus::placeholder {
    color: rgba(255, 220, 40, 0.75);
}

.flex-container {
    display: flex;
    width: 1420px;
    margin: 15px auto;
}

.mecha_header .flex-container {
    display: flex;
    width: 1420px;
    margin: 0 auto;
}

.mecha_header .flex-container> :first-child {
    max-height: 1em;
    transition: transform 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mecha_header .flex-container> :first-child:hover {
    transform: rotate(360deg);
}

#LexMechanicus {
    max-width: 25ch;
}


.container {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.98);
    border-radius: 8px;
    height: 89vh;
    overflow-y: auto;
    padding: 10px 15px 10px 15px;
}

.container.left {
    max-width: 400px;
}

.container.left>hr:nth-of-type(1) {
    margin-top: 11.2px;
}

.container.left> :first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.container.left> :first-child> :nth-child(1) {
    margin-right: auto;

}

.container.left> :first-child> :nth-child(2) {
    margin-right: 0;
}

.btn.btn-primary {
    background-color: #fcdf20;
    border-color: #fcdf20;
    color: #1b0e06;
}

.btn.btn-primary:hover {
    background-color: #be9115;
    border-color: #be9115;
    color: #1b0e06;
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #be9115;
    border-color: #be9115;
    color: #ffffff;
}

.container.left> :first-child> :nth-child(2)>.btn.btn-primary {
    padding: 2.5px 5px 2.5px 5px;
    margin-bottom: 0px;

}

.container.right {
    max-width: 1000px;
    margin-left: 20px;
    position: relative;

}

.language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.container.right>:first-child {
    margin-top: 10px;
}

.container.right>hr:nth-of-type(1) {
    margin-top: 2px;
}