@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@import url('fx.css');

body {
    height: 100vh;
    margin: 0;
    background-color: #1b0e06;
    color: #ffd228;
    overflow: hidden;
}

* {
    font-family: 'IBM Plex Mono', 'Noto Color Emoji', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #ffd228 rgba(0, 0, 0, 0.2);

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ffd228 rgba(0, 0, 0, 0.2);
    }
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

a {
    color: #ff6b10;
}

a:hover {
    color: #ffa771;
}

a:active {
    color: #d36e30;
}

a:focus {
    color: #d36e30;
}

a>.material-icons.external {
    margin-left: 5px;
    font-size: 1.2em;
    color: #ffd228;
}

a>.material-icons.external:hover {
    color: #ffedae;
}


.badge.blue {
    background-color: #0d6efd !important;
}

.badge.red {
    background-color: #dc3545 !important;
}

.badge.purple {
    background-color: #aa20ca !important;
}

.badge.green {
    background-color: #4ae339 !important;
}

.badge.pink {
    background-color: #fb6f92 !important;
}

.badge.yellow {
    background-color: #e2ad00 !important;
}

.badge.turquoise {
    background-color: #0fa3b1 !important;
}

.badge.darkred {
    background-color: #910000 !important;
}

.badge.lightindigo {
    background-color: #7678ed !important;
}

.badge.grey {
    background-color: #6c757d !important;
}

.badge.lightbrown {
    background-color: #735751 !important;
}

.badge.cyan1 {
    background-color: #52b788 !important;
}

.badge.lavanda {
    background-color: #cfbaf0 !important;
    color: #333;
}

.badge.lime {
    background-color: #ccff33 !important;
    color: #333;
}

.badge.skyblue {
    background-color: #e3f2fd !important;
    color: #333;
}

.badge.lightpink {
    background-color: #fcd5ce !important;
    color: #333;
}

.badge.lua {
    background-color: #00007c !important;
}

.badge.relic {
    background-color: #fae71f !important;
    color: black;
}

.badge.lavandadark {
    background-color: #2c0735 !important;
}

.badge.sfx {
    background-color: #006494 !important;
}

.badge.guide {
    background-color: #727d71 !important;
}

.badge.orange {
    background-color: #e87d0d !important;
}


.path_to_file {
    background-color: #333;
    color: #fff;
    padding: 1px 6px 1px 6px;
    margin: 0 3px 0 3px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#ClassesTypeSelector {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#ClassesTypeSelector .material-icons {
    font-size: 18px;

}

#ClassesTypeSelector .material-icons {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    outline: inherit;
    left: 0;
}



#ClassesTypeSelector .SelectChange {
    display: flex;
    flex-direction: column;
}

#ClassesTypeSelector .SelectItems {
    margin-left: 5px;
}

#selectGame {
    position: relative;
    display: flex;
}

#selectGame img {
    position: relative;
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
        conic-gradient(from 278deg, #7450ad 0%, #1c1968 23%, #a83bc6 56%, rgb(24, 87, 114) 100%);
    border-radius: 15%;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
}

#selectGame img.selected {
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
        conic-gradient(from 278deg, #b3c637 0%, #216c56 23%, #36cc75 56%, rgb(27, 112, 24) 100%);
    filter: none;

}

#selectGame img:hover {
    filter: brightness(110%);
}

#selectGame img:active,
#selectGame img:focus {
    transition: filter 0.05s ease-in-out;
    filter: brightness(125%);
}

#selectGame img.disabled {
    cursor: auto;
}

#selectGame img.disabled:not(.selected) {
    filter: grayscale();

}



.modal-dialog.HelpPopup {
    max-width: 700px;
    height: 875px;
    hyphens: auto;
}

.modal-content.HelpPopup {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.9);

}

.modal-header.HelpPopup {
    border-bottom: 1px solid #543e0e;
    width: 100%;
}

.modal-header.HelpPopup>:first-child {
    margin-right: 10px;
    position: relative;
}


.modal-header.HelpPopup> :first-child::before {
    border-radius: 15%;
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 7px);
    height: calc(100% - 5px);
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    top: 50%;
    left: 48.8%;
    transform: translate(-50%, -50%);
}

.modal-header.HelpPopup>:first-child:hover::before {
    opacity: 1;
}

#SteamSSLink {
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 16px) no-repeat,
        conic-gradient(from 278deg, #958ac6 0%, #342c5d 23%, #958ac6 56%, rgba(60, 51, 101, 1) 100%);
    border-radius: 15%;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
}

.modal-body>p.smalltext {
    font-size: 0.8em;
}

.container.additional {
    max-height: 470px;
    overflow: auto;
    background-color: #362a1f3b;
}

.container.additional>.list-group {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.container.additional>.list-group:last-of-type {
    margin-bottom: 0;

}

.container.additional>.list-group>li>a {
    text-decoration: none;
}

.container.additional>.list-group>* {
    background-color: transparent;
    color: inherit;
    border-color: #543e0e;
}


.mecha_header {
    display: block;
    width: 100%;
    margin: 25px 0 10px 0;
}

.mecha_header>*>a {
    color: #ffd228;
    text-decoration: none;
}

.mecha_header>*>#MechaHeader>#LexMechanicus {
    white-space: nowrap;
}

.mecha_header>*>#MechaHeader>#LexMechanicus>:nth-child(1),
.mecha_header>*>#MechaHeader>#LexMechanicus>:nth-child(2) {
    font-size: 1em;
    font-family: 'Cormorant Garamond', serif;
    font-variant: small-caps;
}

.mecha_header>*>#MechaHeader>#LexMechanicus>:nth-child(3) {
    font-size: 0.42em;
    font-family: 'Tektur', sans-serif;
    letter-spacing: 0.15em;
}

.mecha_header #searchPanelScreen {
    position: relative;
    width: 1000px;
    margin-left: auto;
    box-shadow: none;
    overflow: hidden;
    max-height: 42px;
}

.mecha_header #searchPanelScreen .noise-bar {
    transform: rotate(90deg);
    animation: noiseAnimation_ltr var(--animation-duration-3to30) ease-in infinite;
    width: 28px;
    position: absolute;
    top: 13.5px;

}

.mecha_header #searchPanelScreen .secondaryScreen {
    position: relative;
    width: 100%;
    background: #cec109 repeating-linear-gradient(to bottom, #55555596, #55555575 5px, #7777777f 5px, #77777757 6px);
}

.mecha_header #searchPanelScreen .material-icons {
    width: 5%;
    left: -5px;
    top: -2px;
    position: absolute;
    background-color: transparent;
    color: #ffd228;
    border-right: none;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mecha_header #searchPanelScreen .form-control {
    width: 96.5%;
    right: 0;
    position: absolute;
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-left: none;
    color: #ffffff;
    max-height: 32px;
}

.mecha_header #searchPanelScreen .material-icons:hover {
    color: white;
}

.mecha_header #searchPanelScreen .form-control:focus {
    border: 1px solid #543e0e;
    background-color: rgba(172, 172, 172, 0.345);
    border-left: none;
    box-shadow: none;
    border-left: 2px solid rgba(255, 210, 40, 0.5);
    color: #e8e8e8;
}

.mecha_header #searchPanelScreen .form-control::placeholder {
    color: rgb(195, 195, 195);
    ;
}

.mecha_header #searchPanelScreen .form-control:focus::placeholder {
    color: rgba(255, 220, 40, 0.75);
}

.flex-container {
    display: flex;
    width: 1420px;
    margin: 15px auto;
}

.mecha_header .flex-container {
    display: flex;
    width: 1420px;
    margin: 0 auto;
}

.mecha_header .flex-container> :first-child {
    max-height: 1em;
    transition: transform 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mecha_header .flex-container> :first-child:hover {
    transform: rotate(360deg);
}

#LexMechanicus {
    position: relative;
    max-width: 25ch;
}

#MechaHeader {
    position: relative;
    max-width: 25ch;
    height: 43px;
}

.container {
    border: 1px solid #543e0e;
    background-color: rgba(70, 37, 5, 0.98);
    border-radius: 8px;
    height: 89vh;
    overflow-y: auto;
    padding: 10px 15px 10px 15px;
}

.container.left {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
}

.container.left>hr:nth-of-type(1) {
    margin-top: 11.2px;
}

.container.left> :first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container.right {
    max-width: 1000px;
    margin-left: 20px;
    position: relative;
}

#TutorialAuthor {
    position: sticky;
    width: max-content;
    margin-left: auto;
    right: 8px;
    bottom: 4px;
    font-size: 8pt;
    z-index: 1;
}

.optionloader {
    margin-right: 3.5px;
    cursor: unset !important;
    user-select: none;
}

.optionloader * {}



.form-select::after {
    border-color: #ffd228;
}

.container.right>:first-child {
    margin-top: 10px;
}

.container.right>*>hr:nth-of-type(1) {
    margin-top: 2px;
}

.child_attributes_list {
    font-size: 0.8em;
}

.child_list_highlight {
    color: #fae3be;
}

.hierarchyControls>:first-child {
    display: flex;

}

.btn.btn-primary {
    color: #ffd228;
    /*color: #4c10ff;*/
    background-color: #be9115cf;
    border-color: #fcdf20;
    padding: 0px 10px 0px 10px;
    line-height: 1;
    font-size: 1em;
}

/*
.hierarchyControls>:first-child .btn.btn-primary:last-child {
    margin-left: auto;
}*/

#languageSelect:hover,
.btn.btn-primary:hover {
    background-color: #fcdf20;
    border-color: white;
    color: #4c10ff;
}

#languageSelect:focus,
#languageSelect:active,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background-color: #be9115;
    border-color: #fcdf20;
    color: #ffffff;
}

#languageSelectorContainer {
    position: relative;
    display: flex;
}

.select-styled {
    display: inline-block;
    border: 1px solid #fcdf20;
    cursor: pointer;
}

.select-styled:after {
    content: '';
}

.select-options {
    position: absolute;
    top: 32px;
    max-height: 512px;
    overflow: hidden;
    border: 1px solid #fcdf20;
    box-shadow: 0 0 5px #fcdf20;
    background: #d7c71acf repeating-linear-gradient(to bottom, #55555596, #55555575 5px, #7777777f 5px, #77777757 6px);
    backdrop-filter: blur(5px);
    display: none;
    font-size: 11pt;
    z-index: 9999;
    padding: 0 10px 0 10px;
    margin: 0;
}

.select-options.active {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.select-options li {
    font-family: 'Tektur', 'Noto Color Emoji', sans-serif;
    line-height: 1.8;
    list-style: none;
    cursor: pointer;
}

.select-options li:hover {
    font-weight: 800;
    color: #ffffff;
}

#languageSelect option {
    background: #00aa0f repeating-linear-gradient(to bottom, #55555596, #55555575 5px, #7777777f 5px, #77777757 6px);
}

#languageSelect {
    position: relative;
    background-color: #be9115cf;
    border-color: #fcdf20;
    border-radius: 7px;
    cursor: pointer;
    color: #ffd228;
    font-family: 'Tektur', 'Noto Color Emoji', sans-serif;
    padding: 0px 10px 0px 10px;
    line-height: 1.5;
    font-size: 0.7em;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

#languageSelect>option {
    cursor: pointer;
}

.language-selector {
    margin-left: auto;
}

#hierarchyAttributes {
    overflow: hidden;
    position: relative;
}

#hierarchyAttributes {
    font-size: 0.8em;
}

#hierarchyAttributes * {
    text-indent: 2px;
    list-style-type: none;
}

#hierarchyAttributes li {
    user-select: none;
    cursor: pointer;
    position: relative;
    list-style-type: none;
}

#hierarchyAttributes>ul {
    margin: 10px;
    padding: 0;
}

#hierarchyAttributes li {
    position: relative;
    z-index: 1;
}

#hierarchyAttributes .listElement_Arrow {
    font-weight: 800;
    color: #4c10ff;
}

#hierarchyAttributes .listElement_Arrow:hover {
    font-weight: 800;
    color: #9d7cff;
}

#hierarchyAttributes li span:last-of-type {
    font-family: 'Tektur', sans-serif !important;
}

#hierarchyAttributes li span::before {
    content: "";
    position: absolute;
    transform: scaleX(150%);
    width: 100%;
    height: 1.65em;
    right: 20px;
    background-color: transparent;
    z-index: -2;
}

#hierarchyAttributes li span.hovered::before,
#hierarchyAttributes li span:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.65em;
    background-color: #face27;
    z-index: -2;
}

#hierarchyAttributes li span.hovered,
#hierarchyAttributes li span:hover {
    letter-spacing: 0.15em;
    font-weight: 800;
    color: #271405;
}

.hierarchical_arrow {
    position: relative;
    color: #fae3be;
    font-size: 1.2em;
    top: 2.5px;
    left: -5px;
    transition: transform 0.3s ease;
}

.hierarchical_arrow.rotated {
    transform: rotate(90deg);
}

.hierarchical_arrow::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.iron_border {
    position: relative;
    background:
        conic-gradient(from 162deg at 37% 89%, rgba(74, 55, 55, 0.59) 0%, #574937 9%, #484533 16%, rgba(85, 59, 59, 0) 36%, rgba(212, 198, 175, 0.78) 54%, rgba(190, 180, 171, 0.95) 71%, rgba(64, 0, 0, 0.95) 71%, rgba(210, 202, 190, 0.95) 80%, rgba(173, 162, 147, 1) 87%) 61% 75%/168% 198%,
        conic-gradient(from 277deg at 4% 29%, #b0b0b0 0%, #737373 100%) 96% 77%/114% 103%;
    border-radius: 12px 12px 15px 15px;
    padding: 2px;
    background-blend-mode: difference;
    box-sizing: border-box;
    box-shadow: 0 2px 10px #00000018, 0 0 20px #00000027, 10px 15px 10px rgb(42, 18, 1);
    border-bottom: 6px solid #2b1704;
}

.iron_border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 15px 15px;
    padding: 6px;
    background:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px) 0 0,
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px) 0 0,
        linear-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 2px) 0 0,
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 2px, transparent 2px) 0 0,
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.48" numOctaves="3" stitchTiles="stitch" /></filter><rect width="89%" height="89%" filter="url(%23noiseFilter)" /></svg>') repeat;
    background-size: 50px 50px;
    background-color: #9335197b;
    mix-blend-mode: hard-light;
    box-shadow: inset 0 0 2px #b41111cb;
    z-index: 0;
}

.secondaryScreen {
    position: relative;
    height: 32px;
    width: 148px;
    background-blend-mode: multiply;
    filter: contrast(240%) hue-rotate(100deg);
    border-radius: 7px 7px 10px 10px;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 0;
    color: rgb(255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 10px 0 10px;
}

#attributeTypesDeploy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryScreen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8f593058;
    box-shadow: inset 0 0 30px #9f2525a9;
    z-index: 2;
    pointer-events: none;
}

.Greyish.secondaryScreen {
    background: #4a2907 repeating-linear-gradient(to bottom, #2c2c2c96, #34343475 5px, #6565657f 5px, #59595957 6px);
    position: relative;

    width: 100%;
    height: 100%;

    filter: none;
}

.Greyish.secondaryScreen::before {
    content: '';
    background: transparent;
    box-shadow: inset 0 0 20px #9f2525a9;
}

.secondaryScreen::before {
    content: '';
    background: transparent;
    box-shadow: inset 0 0 50px #9f2525a9;
}


.secondaryScreen::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px #00000083;
    z-index: 1000;
    pointer-events: none;
}

.secondaryScreen>*>.optionloader {
    display: inline-block;
    font-size: 1.65em !important;
    user-select: none;
    cursor: pointer;
    transition: font-size 0.1s ease-in;
}

.secondaryScreen>*>.optionloader:hover {
    color: white;
    font-size: 2em !important;
}

.secondaryScreen>*>.optionloader.selected {
    color: white !important;
}

#attributeType {
    position: relative;
    margin-left: auto;
}

#attributeType .iron_border {
    border-radius: 7px;
    box-shadow: 0 2px 5px #00000018, 0 0 7px #00000027, 5px 7px 4px rgb(42, 18, 1);
    border-bottom: 3px solid #2b1704;
}

#attributeType .iron_border::before {
    border-radius: 7px;
}

#hierarchyMain {
    position: relative;
    padding: 10px 0px 10px 0px;
    height: calc(87vh - 102px);
    background: #cec109 repeating-linear-gradient(to bottom, #55555596, #55555575 5px, #7777777f 5px, #77777757 6px);
    background-blend-mode: multiply;
    filter: contrast(240%) hue-rotate(100deg);
    border-radius: 7px 7px 10px 10px;
    overflow: hidden;
    overflow-x: hidden;
    hyphens: auto;
    z-index: 0;
}

#hierarchyDeployer {
    position: relative;
    overflow: auto;
    max-height: 88%;
    z-index: 0;
}

#hierarchyAttributes {}

#hierarchyDeployer {
    scrollbar-color: transparent transparent;
}

#hierarchyMain>* {
    filter: contrast(130%);

}


.hierarchyControls {
    padding: 3px 10px 7.5px 10px;
    border-bottom: 1px solid #face27;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.hierarchyControls>span {
    display: inline-block;
    width: 100%;
    user-select: none;
}

#hierarchyMain::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8f593058;
    box-shadow: inset 0 0 120px #9f2525a9;
    z-index: 2;

    pointer-events: none;
}

#hierarchyMain::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px #00000083;
    z-index: 1000;
    pointer-events: none;
}

.cogitatorInterface {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tektur', sans-serif;
    font-size: 0.8em;
    position: absolute;
    width: auto;
    bottom: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.noInformation {
    display: block;
    font-family: 'Tektur', sans-serif;
    font-size: 0.825em;
    padding: 10px 10px 0px 10px;
    white-space: pre-wrap;
}


.attributeLoader.iron_border {
    background: #362916;
    border-radius: 7px;
    box-shadow: 0 1px 3px #00000018, 0 0 5px #00000027, 2px 4px 2px rgb(42, 18, 1);
    border-bottom: 2px solid #2b1704;
    padding: 3.5px;
    width: 48px;
    height: 47.4px;
    margin-left: 1.25px;

}

.attributeLoader.iron_border::before {
    border-radius: 7px;
}

.insetShadowImg {
    position: relative;
    top: -0.13px;
    left: 1.6px;

}

.insetShadowImg::after,
.insetShadowImg::before {
    content: '';
    position: absolute;
    top: -0.75px;
    border-radius: 6px;
    left: -0.9px;
    width: calc(100% - 1.2px);
    height: calc(100% + 1.75px);
    border: 1px solid #2603038d;
    box-shadow: inset 0 0 1px #0000006a;
    filter: blur(.5px);

    z-index: 1;
    pointer-events: none;
}


#erroremCogitatorum {
    position: fixed;
    top: 57px;
    left: 250px;
    line-height: 0.5em;
    opacity: 1;
    display: none;
    width: 400px;
}

#erroremCogitatorum {
    color: #ff3030;
}

#erroremCogitatorum * {
    font-family: 'Tektur', sans-serif;
    font-size: 7pt;
}

@keyframes alertingMig_00 {

    0%,
    10%,
    20%,
    40%,
    90% {
        opacity: 1;
    }

    5%,
    15%,
    30%,
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes alertingMig_01 {

    0%,
    10%,
    20%,
    90% {
        opacity: 1;
    }

    5%,
    15%,
    100% {
        opacity: 0;
    }
}

@keyframes alertingMig_02 {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        opacity: 0;
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        opacity: 1;
    }
}

@keyframes alertingMig_03 {

    0%,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        opacity: 0;
        color: #ff3030;

    }

    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        opacity: 1;
        color: #ad9f9f;
    }
}